#=================================
# globale Konfiguration
#=================================

dirname.fonts = /var/ftproot/tomcat/fonts/
dirname.indipdf = /var/ftproot/daten/vema-eg.de/indipdf/

filename.macros = 00000_makros.vm


