<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">java.sql.Driver</property>
        
         <!-- http://dev.mysql.com/doc/refman/5.0/en/connector-j-reference-configuration-properties.html -->
        
        <!--
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db001</property>
        <property name="hibernate.connection.username">dbu001</property>
        <property name="hibernate.connection.password">7nSUe4rh</property>
        <property name="hibernate.default_schema">db001</property>   
        -->         
         
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/db001_test</property>        
        <property name="hibernate.connection.username">dbu001_test</property>
        <property name="hibernate.connection.password">Mw8kD5ke</property>         
        <property name="hibernate.default_schema">db001_test</property>

        
        
       <!-- <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>       
        
        <property name="hibernate.connection.provider_class">
			org.hibernate.connection.C3P0ConnectionProvider
		</property>        
        
        <!-- configuration pool via c3p0--> 
        <property name="hibernate.c3p0.min_size">1</property> 
		<property name="hibernate.c3p0.max_size">5</property> 
		<property name="hibernate.c3p0.acquire_increment">1</property> 
		<property name="hibernate.c3p0.max_statements">0</property> 
		<property name="hibernate.c3p0.idle_test_period">600</property> <!-- seconds --> 
		<property name="hibernate.c3p0.timeout">0</property> <!-- seconds --> 
             
        
        <!-- auto update tables -->
 <!-- 
         <property name="hibernate.hbm2ddl.auto">update</property>
                  -->  
         <property name="show_sql">true</property>
               
        
		<!-- Enable Hibernate's automatic session context management -->
   		<property name="current_session_context_class">thread</property>
   		
   		<mapping resource="de/vemaeg/common/db/model/Kunde.hbm.xml"/>
   		<mapping resource="de/vemaeg/common/db/model/Mitglied.hbm.xml"/>
   		<mapping resource="de/vemaeg/common/db/model/Mitarbeiter.hbm.xml"/>
   		<mapping resource="de/vemaeg/common/db/model/Zweigstelle.hbm.xml"/>
   		<mapping resource="de/vemaeg/common/db/model/Versicherer.hbm.xml"/>
   		
   		<mapping resource="de/vemaeg/common/db/model/IndiPDF.hbm.xml"/>
   		<mapping resource="de/vemaeg/common/db/model/IndiPDFVorlage.hbm.xml"/>

    </session-factory>    
</hibernate-configuration>
